.anime-post {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime-post-bg {
    background-color: rgb(0, 0, 0, 0.803);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.anime-post-content {
    position: relative;
    max-width: 1200px;
    background-color: black;
}

.anime-post-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto;
}

.anime-post-content h1 {
    color: white;
    text-align: left;
}

.container {
    display: flex;
}

.left-panel {
    background-color: #5c5b5b;
    color: white;
    padding: 20px;
    width: 50%;
}

.right-panel {
    background-color: #f0f0f0;
    width: 50%;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}